/*
* === My CSS ===
*/

/*
* --- Definition ---
*/

/*Import font: Source Sans Pro*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/*Define colors*/
:root {
    --el-blue: #3b7c9e;
    --el-red: #e6493b;
    --el-white: #fffdf8;
    --el-sky: #3cc4ce;
    --el-dark: #24414c;
}

/*Common font size*/
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

/*
* --- Style ---
*/

/*Unselectable*/
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Align center vertically in a page*/
.page-vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

/*Align center vertically in a block*/
.vertical-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /*flex-direction:column;*/
}

/*Align center horizontally in a block*/
.horizontal-around {
    display: flex;
    justify-content: space-around;
}

/*Smaller font size*/
.smaller {
    font-size: 80%;
}

/*No underline*/
a, 
a:hover, 
a:focus {
    text-decoration: none;
}

/*Body style*/
body {
    background-color: var(--el-white);
    color: var(--el-dark);
    font-family: "Source Sans Pro";
    font-size: 1em;
}

/*fullPage.js tooltip texts*/
#fp-nav ul li .fp-tooltip {
    color: #007bff !important;
    opacity: 0.8 !important;
}

/*fullPage.js tooltips*/
#fp-nav ul li a span, #fp-nav ul li a.active span {
    background: #007bff !important;
    opacity: 0.8 !important;
}

/*Typed.js text size*/
#typed {
    font-size: 2em;
}

/*Typed.js cursor size*/
.typed-cursor {
    font-size: 2em;
}

/*Hide all sections*/
#fullpage .section {
    display: none;
}

/*Only show the first section*/
#fullpage .section:first-child {
    display: block;
}